Package: onboard
Version: 1.4.1-2kylin7k15
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1912
Depends: gir1.2-gdkpixbuf-2.0, gir1.2-glib-2.0, gir1.2-gtk-3.0, gir1.2-pango-1.0 (>= 1.29.3), iso-codes, librsvg2-common, onboard-common (<< 1.4.1-2kylin7k15.1), onboard-common (>= 1.4.1-2kylin7k15), python3-cairo, python3-dbus, python3-gi-cairo, dconf-gsettings-backend | gsettings-backend, python3 (<< 3.9), python3 (>= 3.8~), python3:any, libc6 (>= 2.29), libcairo2 (>= 1.10.0), libcanberra0 (>= 0.2), libdconf1 (>= 0.14.0), libgcc-s1 (>= 3.0), libglib2.0-0 (>= 2.31.8), libgtk-3-0 (>= 3.9.10), libhunspell-1.7-0, libstdc++6 (>= 5.2), libudev1 (>= 183), libx11-6, libxi6 (>= 2:1.2.99.4), libxkbfile1 (>= 1:1.1.0), libxtst6
Recommends: gir1.2-appindicator3-0.1, gir1.2-atspi-2.0, onboard-data (>= 1.4.1-2kylin7k15), xdg-utils
Suggests: mousetweaks (>= 3.3.90)
Section: gnome
Priority: optional
Homepage: https://launchpad.net/onboard
Description: Simple On-screen Keyboard
 On-screen Keyboard with macros, easy layout creation and word suggestion.
 .
 This on-screen keyboard can be useful for tablet PC users, as well as
 for mobility impaired users.
Original-Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
