Package: gnome-shell-extension-onboard
Source: onboard
Version: 1.4.1-2kylin7k15
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 52
Depends: gnome-shell (>= 3.16), onboard (>= 1.4.1-2kylin7k15)
Breaks: onboard-common (<< 1.3.0)
Replaces: onboard-common (<< 1.3.0)
Section: gnome
Priority: optional
Homepage: https://launchpad.net/onboard
Description: GNOME Shell extension for the on-screen keyboard Onboard
 This package hides the official GNOME3 keyboard and provides an icon to
 show/hide Onboard. It is only an initial extension that does not show
 Onboard for activities and passwords, yet.
Original-Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
