Package: onboard-data
Source: onboard
Version: 1.4.1-2kylin7k15
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 20352
Depends: onboard (<< 1.4.1-2kylin7k15.1), onboard (>= 1.4.1-2kylin7k15)
Breaks: onboard-prediction-data (<< 0.99.0~alpha1~tr1531)
Replaces: onboard-prediction-data (<< 0.99.0~alpha1~tr1531)
Section: gnome
Priority: optional
Homepage: https://launchpad.net/onboard
Description: Language model files for the word suggestion feature of Onboard
 On-screen Keyboard with macros, easy layout creation and word suggestion.
 .
 This package installs default language model files for various languages.
 The word suggestion feature of Onboard uses these files (and if available
 also custom user language model files) to compute the word completion
 suggestions and the word prediction suggestions.
Original-Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
